{% extends 'domain/report/layout/base.html.twig' %}
{% block title 'report.titles.index' | trans([], 'report') %}

{% block header %}
    {% embed "shared/component/_header.html.twig" %}
        {% block header_title greeting(app.user.username) | title %}
        {% block header_action_list %}
            <li>
                <a href="{{ path('report_employee_report_new') }}" class="btn btn-white btn-dim btn-outline-light" aria-label="{{ 'report.actions.create' | trans([], 'report') }}" title="{{ 'report.actions.create' | trans([], 'report') }}">
                    {{ 'plus' | icon }}
                    <span>{{ 'report.actions.create' | trans([], 'report') }}</span>
                </a>
            </li>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block content %}
    <div class="row g-gs">
        <div class="col-xxl-6 col-sm-6">
            {% embed 'shared/component/card/_stats.html.twig' %}
                {% block stats_card_label 'Mes Rapports' %}
                {% block stats_card_value stats.reports %}
                {% block stats_card_info "Statistique de l'année en cours" %}
            {% endembed %}
        </div>
        <div class="col-xxl-6 col-sm-6">
            {% embed 'shared/component/card/_stats.html.twig' %}
                {% block stats_card_label 'Mes Évaluations' %}
                {% block stats_card_value stats.evaluations %}
                {% block stats_card_info "Statistique de l'année en cours" %}
            {% endembed %}
        </div>
        <div class="col-12">
            {% embed 'shared/component/card/_simple.html.twig' %}
                {% block simple_card_title 'Statistiques ' ~ 'now' | date('Y') %}
                {% block simple_card_body %}
                    {{ render_chart(chart) }}
                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}
