{% extends 'domain/report/layout/base.html.twig' %}
{% block title "Modifier un rapport" | title %}

{% block header %}
    {% embed "shared/component/_header.html.twig" %}
        {% block header_title "Modifier un rapport" | title %}
        {% block header_action_list %}
            <li>
                <a href="{{ path('report_employee_report_index') }}" class="btn btn-white btn-dim btn-outline-light" aria-label="{{ 'global.back' | trans }}" title="{{ 'global.back' | trans }}">
                    {{ 'arrow-long-left' | icon }}
                    <span>{{ 'global.back' | trans }}</span>
                </a>
            </li>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block content %}
    {% embed "shared/component/card/_simple.html.twig" %}
        {% block simple_card_body %}
            {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.description) }}

            <fieldset class="row mb-4">
                <div class="col-12">{{ form_label(form.period) }}</div>
                <div class="col-6">{{ form_row(form.period.starting_at) }}</div>
                <div class="col-6">{{ form_row(form.period.ending_at) }}</div>
            </fieldset>

            {{ form_row(form.documents) }}
            {{ form_row(form.managers) }}

            <button class="btn btn-primary">
                {{ 'save-fill' | icon }}
                <span>{{ 'global.submit' | trans([], 'messages') }}</span>
            </button>
            {{ form_end(form) }}
        {% endblock %}
    {% endembed %}
{% endblock %}
