{% extends 'shared/layout/base.html.twig' %}
{% block title 'employee_reports' | trans([], 'messages') %}

{% block header %}
    {% embed 'shared/component/_header.html.twig' %}
        {% block header_title 'employee_reports' | trans([], 'messages') %}
        {% block header_action_list %}
            <li>
                <a href="{{ path('report_employee_report_new') }}" class="btn btn-white btn-dim btn-outline-light" aria-label="{{ 'report.actions.create' | trans([], 'report') }}" title="{{ 'report.actions.create' | trans([], 'report') }}">
                    {{ 'plus' | icon }}
                    <span>{{ 'report.actions.create' | trans([], 'report') }}</span>
                </a>
            </li>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block content %}
    {% embed "shared/component/card/_list.html.twig" %}
        {% block list_card_table_head %}
            <th>#</th>
            <th>{{ "report.name" | trans([], 'report') }}</th>
            <th>{{ "report.status" | trans([], 'report') }}</th>
            <th>{{ "report.interval_date" | trans([], 'report') }}</th>
            <th>&nbsp;</th>
        {% endblock %}
        {% block list_card_table_body %}
            {% for row in data %}
                <tr>
                    <td>{{ row.id }}</td>
                    <td>{{ row.name | u.truncate(60, '...') }}</td>
                    <td>{{ row.status | badge }}</td>
                    <td>{{ row.intervalDate.startingAt |date('d-M') }} - {{ row.intervalDate.endingAt|date('d-M') }}</td>
                    <td class="tb-odr-action">
                        <div class="tb-odr-btns d-none d-md-inline">
                            <a href="{{ path('report_employee_report_show', {uuid: row.uuid}) }}" class="btn btn-sm btn-primary" title="{{ 'global.show' | trans([], 'messages') }}">
                                {{ 'eye-alt-fill' | icon }}
                                <span>{{ 'global.show' | trans([], 'messages') }}</span>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}
