{% extends 'domain/report/layout/base.html.twig' %}
{% block title 'report.titles.index' | trans([], 'report') %}

{% block header %}
    {% embed "shared/component/_header.html.twig" %}
        {% block header_title  'report.titles.dashboard_named' | trans({"%name%": app.user.username}, 'report') | title %}
        {% block header_action_list %}
            <li>
                <a href="{{ path('report_manager_report_index') }}" class="btn btn-white btn-dim btn-outline-light" aria-label="{{ 'global.back' | trans([], 'messages') }}" title="{{ 'global.back' | trans([], 'messages') }}">
                    {{ 'folder-list' | icon }}
                    <span>Tous les rapports</span>
                </a>
            </li>
            <li>
                <a href="{{ path('report_manager_report_search_index') }}" class="btn btn-white btn-dim btn-outline-light" aria-label="{{ 'report.actions.search' | trans([], 'report') }}" title="{{ 'report.actions.search' | trans([], 'report') }}">
                    {{ 'search' | icon }}
                    <span>{{ 'report.actions.search' | trans([], 'report') }}</span>
                </a>
            </li>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block content %}
    <div class="row g-gs">
        <div class="col-xxl-6 col-sm-6">
            {% embed 'shared/component/card/_stats.html.twig' %}
                {% block stats_card_label 'Rapports reçus' %}
                {% block stats_card_value stats.reports %}
                {% block stats_card_info "Statistique de l'année en cours" %}
            {% endembed %}
        </div>
        <div class="col-xxl-6 col-sm-6">
            {% embed 'shared/component/card/_stats.html.twig' %}
                {% block stats_card_label 'Évaluations données' %}
                {% block stats_card_value stats.evaluations %}
                {% block stats_card_info "Statistique de l'année en cours" %}
            {% endembed %}
        </div>
        <div class="col-12">
            {% embed 'shared/component/card/_simple.html.twig' %}
                {% block simple_card_title 'Statistiques ' ~ 'now' | date('Y') %}
                {% block simple_card_body %}
                    {{ render_chart(reportChart) }}
                {% endblock %}
            {% endembed %}
        </div>
        <div class="col-12">
            {% embed 'shared/component/card/_simple.html.twig' %}
                {% block simple_card_title 'Statistiques ' ~ 'now' | date('Y') %}
                {% block simple_card_body %}
                    {{ render_chart(evaluationChart) }}
                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}
