{% extends 'domain/report/layout/base.html.twig' %}
{% block title 'manager_employee_reports' | trans([], 'messages') %}

{% block header %}
    {% embed 'shared/component/_header.html.twig' %}
        {% block header_title 'manager_employee_reports' | trans([], 'messages') %}
        {% block header_action_list %}
            <li>
                <a href="{{ path('report_manager_report_index') }}" class="btn btn-white btn-dim btn-outline-light" aria-label="{{ 'global.back' | trans([], 'messages') }}" title="{{ 'global.back' | trans([], 'messages') }}">
                    {{ 'arrow-long-left' | icon }}
                    <span>Tous les rapports</span>
                </a>
            </li>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block content %}
    <div class="row g-gs">
        {% for employee in data %}
            <div class="col-sm-6 col-lg-4 col-xxl-3">
                {% include 'domain/report/component/_employee_card.html.twig' with {employee: employee} %}
            </div>
        {% endfor %}
    </div>

    <div class="mt-4 d-flex justify-content-center">
        {% if data is defined %}
            {{ knp_pagination_render(data) }}
        {% endif %}
    </div>
{% endblock %}
