{% extends 'domain/report/layout/base.html.twig' %}
{% block title 'report.titles.index' | trans([], 'report') %}

{% block header %}
    {% embed "shared/component/_header.html.twig" %}
        {% block header_title  'report.titles.dashboard_named' | trans({"%name%": app.user.username}, 'report') | title %}
        {% block header_action_list %}
            <li>
                <a href="{{ path('report_admin_report_index') }}" class="btn btn-white btn-dim btn-outline-light" aria-label="{{ 'global.back' | trans([], 'messages') }}" title="{{ 'global.back' | trans([], 'messages') }}">
                    {{ 'folder-list' | icon }}
                    <span>Tous les rapports</span>
                </a>
            </li>
            <li>
                <a href="{{ path('report_search_index') }}" class="btn btn-white btn-dim btn-outline-light" aria-label="{{ 'report.actions.search' | trans([], 'report') }}" title="{{ 'report.actions.search' | trans([], 'report') }}">
                    {{ 'search' | icon }}
                    <span>{{ 'report.actions.search' | trans([], 'report') }}</span>
                </a>
            </li>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block content %}
    {% import 'shared/component/_macros.html.twig' as m %}
<div class="row g-gs">
    <div class="col-12">
        <div class="card">
            <div class="card-inner">
                <div class="card-title-group align-start mb-2">
                    <div class="card-title">
                        <h6 class="title">Statistiques</h6>
                        <p>Rapports reçus les 30 derniers jours</p>
                    </div>
                </div>
                <div class="align-end gy-3 gx-5 flex-wrap flex-md-nowrap flex-lg-wrap flex-xxl-nowrap">
                    <div class="nk-sale-data-group flex-md-nowrap g-4">
                        <div class="nk-sale-data">
                            <span class="amount">
                                {{ data.reports_current_month }}
                                {{ m.ratio(data.reports_month_ratio) }}
                            </span>
                            <span class="sub-title">Rapports du Mois</span>
                        </div>
                        <div class="nk-sale-data">
                            <span class="amount">
                                {{ data.evaluations_current_month }}
                                {{ m.ratio(data.evaluations_month_ratio) }}
                            </span>
                            <span class="sub-title">Évaluations du mois</span>
                        </div>
                    </div>
                    <div class="nk-sales-ck sales-revenue">
                        <div class="chartjs-size-monitor">
                            <div class="chartjs-size-monitor-expand">
                                <div class=""></div>
                            </div>
                            <div class="chartjs-size-monitor-shrink">
                                <div class=""></div>
                            </div>
                        </div>
                        <canvas class="student-enrole chartjs-render-monitor" id="enrolement" style="display: block; width: 490px; height: 64px;" width="490" height="64"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
