<div class="bq-note-item pos-rel">
    <div class="bq-note-text">
        <p>{{ data.content }}</p>
        {% if is_granted('EVALUATION_DELETE', app.user) %}
            <div style="position: absolute; top: 8px; right: 8px;">

            </div>
        {% endif %}
    </div>
    <div class="bq-note-meta">
        <span class="bq-note-added">
            Ajouté le <span class="date">{{ data.createdAt | date('d M, Y') }}</span> à <span class="time">{{ data.createdAt | date('H:i') }}</span>
        </span>
        <span class="bq-note-sep sep">|</span>
        <span class="bq-note-by">par <span>{{ data.manager.username }}</span></span>

        {% if app.user.hasRole('ROLE_REPORT_MANAGER') %}
            <a class="link link-sm" href="{{ path('report_manager_evaluation_edit', {report: report.uuid, id: data.id}) }}">Modifier</a>
            <form action="{{ path('report_manager_evaluation_delete', {id: data.id}) }}" method="post" class="d-inline-block">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="{{ csrf_token("delete_#{data.id}") }}">
                <button class="link link-sm link-danger">Supprimer</button>
            </form>
        {% endif %}
    </div>
</div>
